// background picture
body {
    background: url(/images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background_position: 50% 50%;
}

// transparent
.post-block {
    opacity: 0.9;
}
.sidebar {
    background_color: transparent;
    opacity: 0.9;
}
.header_inner {
    background: rgba(255, 255, 255, 0.9);
}
.popup {
    opacity: 0.9;
}

// shadow
.post {
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 25px;
    -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, 0.5)
    -moz-box-shadow: 0 0 5px rgba(202, 203, 204, 0.5)
}